<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>


    <link href="../static/css/googleMap.css.css" th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link href="../static/css/googleMap.css.css" th:href="@{/css/tableAlign.css}" rel="stylesheet"/>


</head>
<body>

<div th:replace="fragments/headerUser">HEADER</div>

<div class="container">

    <div th:if="${orders.size() == 0}" class="row">
    <div class="col-xl-10 offset-xl-1">

        <div align="center">
            <h1 class="text-danger">TWOJA HISTORIA ZAKUPOW JEST PUSTA</h1>

        </div>

    </div>
</div>
    <div th:if="${orders.size() != 0}" class="row">


    <div class="col-xl-10 offset-xl-1">
        <table class="table table-bordered">
            <thead class="thead-light">

            <tr>
                <th scope="col"></th>
                <th scope="col">Data zamówienia</th>
                <th scope="col">Ilość sztuk</th>
                <th scope="col">Cena zamówienia</th>
                <th scope="col">Producent</th>
                <th scope="col">Model</th>
                <th scope="col">Szczegóły zamówienia</th>
            </tr>

            </thead>

            <tbody>

            <tr th:each="o : ${orders}">

                <td>
                    <img class="my-img" th:src="@{/img/phones/{name}(name=${o.phone.filename})}" alt="Zdjecie"
                         width="110px" height="100px"/>
                </td>
                <td th:text="${o.date}"></td>
                <td th:text="${o.quantity}"></td>
                <td th:text="${o.price}"></td>
                <td th:text="${o.phone.producer}"></td>
                <td th:text="${o.phone.model}"></td>
                <td>

                    <a class="btn btn-outline-success" th:href="@{/order/order/{id}(id=${o.id})}"
                       role="button">Sprawdź</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
</div>
<div id="footer">
    <div class="footer-main-div">
        <div class="footer-social-icons">
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com"><i
                        class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com"><i
                        class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com"><i
                        class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/js/phones/phonesList.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</body>
</html>