<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>INDEX</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link href="../../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet"/>

</head>
<body>

<div th:replace="fragments/headerAdmin">HEADER</div>

<div class="container">

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>

        </tr>
        </thead>
        <tbody>
        <td th:text="${message.name}"></td>
        <td th:text="${message.surname}"></td>
        <td th:text="${message.email}"></td>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Treść pytania</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${message.messageContent}"></td>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Treść odpowiedzi</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${message.replyMessage}"></td>
        </tbody>
    </table>

</div>


<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>